
<div class=" ui-view-container well  ">

	<div class="panel panel-info">
		<div class="panel-heading">
			<h3>
				<strong>Resources</strong>
			</h3>
		</div>
		<div class="panel-body">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span style="color: black;"><strong>SCHEMAS<strong>
					</h3>
					</span>
				</div>

				<div class="panel-body">
					<uib-accordion> <uib-accordion-group
						ng-repeat="domain in schemaDomain " is-open="domain.open">
					<uib-accordion-heading>


					<div class=row>
						<div class="col-md-6">
							<i class="glyphicon"
								ng-class="{'glyphicon-triangle-bottom': domain.open, 'glyphicon-triangle-right': !doamain.open}">
							</i> <strong>{{domain.title}} </strong>
						</div>
						<div class="col-md-6" style="color: black; font-size: 12px;">
						</div>

					</div>

					</uib-accordion-heading>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th>Source</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="schema in domain.schemas">
								<td>{{schema.description}}</td>


								<td>
																		
									<a ng-if="!domain.link"
									href="resources/static/schemas/{{schema.source}}"
									target="_blank"> {{schema.source}}
									
									</a>
											<a ng-if="domain.link"
									href="{{domain.link}}"
									target="_blank"> {{schema.source}}
									</a>
									
								</td>

							</tr>

						</tbody>
					</table>

					</uib-accordion-group> <uib-accordion>
				</div>

			</div>

		</div>