<div class=" ui-view-container  well ">
	<div class="panel panel-info">
		<div class="panel-heading">
		<h3><strong>Useful links</strong></h3>
		</div>
		<div class="panel-body">




			<uib-accordion>
			
			 <uib-accordion-group
				ng-repeat="link in links" is-open="artifact.open">
				 <uib-accordion-heading>
			<i class="glyphicon"
				ng-class="{'glyphicon-triangle-bottom': artifact.open, 'glyphicon-triangle-right': !artifact.open}">
			</i> {{link.categorie}} </uib-accordion-heading>
			<ul>
			<li ng-repeat="component in link.components">
		<a href={{component.link}} target="_blank">	{{component.title}} </a>
			</li>
			</ul>
							</uib-accordion-group> </uib-accordion>
		</div>
	</div>
</div>
